<%= form_for genre  do |f| %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :book_id %>
  <% if genre.errors.any? %>
    <div id="error_explanation">
      <h2>There were some errors:</h2>
      <ul>
        <% genre.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.label :name %>
  <div class="field<%= ' field_with_errors' if genre.errors[:name].any? %>">
    <%= f.text_field :name %><br>
  </div>
  <br />

  <%= f.submit %>
<% end %>